<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>TAR UMT - Online Application for Admission</title>
		<link rel="shortcut icon" href="https://web.tarc.edu.my/portal/images/tarIco.ico"/>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
         <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/font-awesome.css" />

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/datepicker.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/ace-ie.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="https://web.tarc.edu.my/portal/assets/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="https://web.tarc.edu.my/portal/assets/js/html5shiv.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/respond.js"></script>
		<![endif]-->

		<style>
            body{
                display: flex;
                flex-direction: column;
                display: grid;
            }
            .QZ3zWd{
                min-height:2400px;
                max-height:10000px;
                display: flex;
                flex-direction: column;
            }
		</style>
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		<!-- <div id="navbar" class="navbar navbar-default ace-save-state" style="background:#9a0000;">
			<div class="navbar-container ace-save-state" id="navbar-container">
				
        
		<!-- /section:basics/navbar.layout -->
		<!-- <div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script> -->
        <%- include('layouts/partials/header', { isStatic: false }) %>
        <style>
            .Pvc6xe {
                position: fixed;
                z-index: 1030;
                background-color: orange;
            }
            .Pvc6xe a,svg{
                color: black !important;
            }
            body {
                padding-top: 50px;
            }
        </style>
	
<script>
	function openChildWindow(myurl) {
		var win = window.open(myurl,'E-Invoice Profile', '_blank','width=800');

		var win_timer = setInterval(function() {   
		  if(win.closed) {
			  window.location.reload();
			  clearInterval(win_timer);
		  } 
		  }, 100); 
	}
</script>



<div class="main-content">
    <div class="main-content-inner">

	<script language="javascript" src="divs.js"></script>
	<script type ="text/javascript" src="https://web.tarc.edu.my/portal/js/publicAjax.js"></script>
    <script type ="text/javascript" src = "ajax/ajax.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script language="javascript">
	
    function adjustFooterPosition() {
    var footer = document.querySelector('.footer');
    var mainContent = document.querySelector('.main-content');
    var windowHeight = window.innerHeight;
    var contentHeight = mainContent.offsetHeight;
    var footerHeight = footer.offsetHeight;

    if (contentHeight + footerHeight < windowHeight) {
        footer.style.position = 'fixed';
        footer.style.bottom = '0';
    } else {
        footer.style.position = 'relative';
    }
}

window.addEventListener('load', adjustFooterPosition);
window.addEventListener('resize', adjustFooterPosition);

	 function Validation(resulttypeQua){
		var alphanumeric_pattern=/^[a-zA-Z0-9 ]+$/;
		document.form1.fsubmit.disabled=true;
		
		if(document.form1.fqua.value.replace(/\s+/g, '')=="" && document.form1.fquahigh.value.replace(/\s+/g, '')=="" && document.form1.fothqua.value.replace(/\s+/g, '')==""){
			document.form1.fsubmit.disabled=false;
			alert("Please fill in at least ONE Academic Qualification");
			return false;
		}
		
		if(document.form1.fqua.value.replace(/\s+/g, '')!=""){//SPM
			 
			if(document.form1.fqua.value.replace(/\s+/g, '')=="M" && document.form1.fquayear.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fquayear.focus();
				return false;	
			} 
			
			if(document.form1.fqua.value.replace(/\s+/g, '')=="M" && document.form1.fquayear.value.length != 4){
				document.form1.fsubmit.disabled=false;
				document.form1.fquayear.focus();
				return false;	
			} 
			 
			 
			 
			 
			 
			  if(document.form1.fqua.value.replace(/\s+/g, '')=="L" && document.form1.foqua.value.replace(/\s+/g, '')==""){	
				document.form1.fsubmit.disabled=false;
				document.form1.foqua.focus();
				return false;
			 }
			 
			 if(document.form1.fsub1.value.replace(/\s+/g, '')=="" || document.form1.fgsub1.value.replace(/\s+/g, '')==""){	
				document.form1.fsubmit.disabled=false;
				alert("Please complete your SPM / O Level result / Equivalent");
				document.form1.fsub1.focus();
				return false;
			 }
			 
				if((document.form1.fsub2.value  != "")&&(document.form1.fgsub2.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub2.focus();
					 return false;
				} 
				if((document.form1.fsub2.value  == "")&&(document.form1.fgsub2.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub2.focus();
					 return false;
				} 
			
				if((document.form1.fsub3.value  != "")&&(document.form1.fgsub3.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub3.focus();
					 return false;
				} 
				if((document.form1.fsub3.value  == "")&&(document.form1.fgsub3.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub3.focus();
					 return false;
				} 
			
				if((document.form1.fsub4.value  != "")&&(document.form1.fgsub4.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub4.focus();
					 return false;
				} 
				if((document.form1.fsub4.value  == "")&&(document.form1.fgsub4.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub4.focus();
					 return false;
				} 
			
				if((document.form1.fsub5.value  != "")&&(document.form1.fgsub5.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub5.focus();
					 return false;
				} 
				if((document.form1.fsub5.value  == "")&&(document.form1.fgsub5.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub5.focus();
					 return false;
				} 
			
				if((document.form1.fsub6.value  != "")&&(document.form1.fgsub6.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub6.focus();
					 return false;
				} 
				if((document.form1.fsub6.value  == "")&&(document.form1.fgsub6.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub6.focus();
					 return false;
				} 
			
				if((document.form1.fsub7.value  != "")&&(document.form1.fgsub7.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub7.focus();
					 return false;
				} 
				if((document.form1.fsub7.value  == "")&&(document.form1.fgsub7.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub7.focus();
					 return false;
				} 
			
				if((document.form1.fsub8.value  != "")&&(document.form1.fgsub8.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub8.focus();
					 return false;
				} 
				if((document.form1.fsub8.value  == "")&&(document.form1.fgsub8.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub8.focus();
					 return false;
				} 
			
				if((document.form1.fsub9.value  != "")&&(document.form1.fgsub9.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub9.focus();
					 return false;
				} 
				if((document.form1.fsub9.value  == "")&&(document.form1.fgsub9.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub9.focus();
					 return false;
				} 
			
				if((document.form1.fsub10.value  != "")&&(document.form1.fgsub10.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub10.focus();
					 return false;
				} 
				if((document.form1.fsub10.value  == "")&&(document.form1.fgsub10.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub10.focus();
					 return false;
				} 
			
				if((document.form1.fsub11.value  != "")&&(document.form1.fgsub11.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub11.focus();
					 return false;
				} 
				if((document.form1.fsub11.value  == "")&&(document.form1.fgsub11.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub11.focus();
					 return false;
				} 
			
				if((document.form1.fsub12.value  != "")&&(document.form1.fgsub12.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fgsub12.focus();
					 return false;
				} 
				if((document.form1.fsub12.value  == "")&&(document.form1.fgsub12.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your SPM / O Level result / Equivalent");
					 document.form1.fsub12.focus();
					 return false;
				} 
			
		}
		
		if(document.form1.fquaSPMyear.value.replace(/\s+/g, '')!=""){//SPM second record
		
			if( document.form1.fqua.value.replace(/\s+/g, '')=="M" && ( document.form1.fquaSPMyear.value.replace(/\s+/g, '') == document.form1.fquayear.value.replace(/\s+/g, '') ) ){
				document.form1.fsubmit.disabled=false;
				alert("The additional SPM result year must not be the same as the first SPM result year");
				document.form1.fquaSPMyear.focus();
				return false;
			}
			
			if( document.form1.fqua.value.replace(/\s+/g, '')=="M" &&  document.form1.fquaSPMyear.value.length != 4  ){
				document.form1.fsubmit.disabled=false;
				document.form1.fquaSPMyear.focus();
				return false;
			}
		
			if(document.form1.fsubj1.value.replace(/\s+/g, '')=="" || document.form1.fgsubj1.value.replace(/\s+/g, '')==""){	
				document.form1.fsubmit.disabled=false;
				alert("Please complete your Additional SPM result");
				document.form1.fsubj1.focus();
				return false;
			 }
			 
			 
				if((document.form1.fsubj2.value  != "")&&(document.form1.fgsubj2.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj2.focus();
					 return false;
				} 
				if((document.form1.fsubj2.value  == "")&&(document.form1.fgsubj2.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj2.focus();
					 return false;
				} 
			
				if((document.form1.fsubj3.value  != "")&&(document.form1.fgsubj3.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj3.focus();
					 return false;
				} 
				if((document.form1.fsubj3.value  == "")&&(document.form1.fgsubj3.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj3.focus();
					 return false;
				} 
			
				if((document.form1.fsubj4.value  != "")&&(document.form1.fgsubj4.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj4.focus();
					 return false;
				} 
				if((document.form1.fsubj4.value  == "")&&(document.form1.fgsubj4.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj4.focus();
					 return false;
				} 
			
				if((document.form1.fsubj5.value  != "")&&(document.form1.fgsubj5.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj5.focus();
					 return false;
				} 
				if((document.form1.fsubj5.value  == "")&&(document.form1.fgsubj5.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj5.focus();
					 return false;
				} 
			
				if((document.form1.fsubj6.value  != "")&&(document.form1.fgsubj6.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj6.focus();
					 return false;
				} 
				if((document.form1.fsubj6.value  == "")&&(document.form1.fgsubj6.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj6.focus();
					 return false;
				} 
			
				if((document.form1.fsubj7.value  != "")&&(document.form1.fgsubj7.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj7.focus();
					 return false;
				} 
				if((document.form1.fsubj7.value  == "")&&(document.form1.fgsubj7.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj7.focus();
					 return false;
				} 
			
				if((document.form1.fsubj8.value  != "")&&(document.form1.fgsubj8.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj8.focus();
					 return false;
				} 
				if((document.form1.fsubj8.value  == "")&&(document.form1.fgsubj8.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj8.focus();
					 return false;
				} 
			
				if((document.form1.fsubj9.value  != "")&&(document.form1.fgsubj9.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj9.focus();
					 return false;
				} 
				if((document.form1.fsubj9.value  == "")&&(document.form1.fgsubj9.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj9.focus();
					 return false;
				} 
			
				if((document.form1.fsubj10.value  != "")&&(document.form1.fgsubj10.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj10.focus();
					 return false;
				} 
				if((document.form1.fsubj10.value  == "")&&(document.form1.fgsubj10.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj10.focus();
					 return false;
				} 
			
				if((document.form1.fsubj11.value  != "")&&(document.form1.fgsubj11.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj11.focus();
					 return false;
				} 
				if((document.form1.fsubj11.value  == "")&&(document.form1.fgsubj11.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj11.focus();
					 return false;
				} 
			
				if((document.form1.fsubj12.value  != "")&&(document.form1.fgsubj12.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fgsubj12.focus();
					 return false;
				} 
				if((document.form1.fsubj12.value  == "")&&(document.form1.fgsubj12.value != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your Additional SPM result");
					 document.form1.fsubj12.focus();
					 return false;
				} 
			
		
		}
		
		if(document.form1.fsubj1.value.replace(/\s+/g, '')!="" && document.form1.fgsubj1.value.replace(/\s+/g, '')!=""){
			if(document.form1.fquaSPMyear.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fquaSPMyear.focus();
				return false;
			}
		 }
		
		if(document.form1.fquahigh.value.replace(/\s+/g, '')!=""){//STPM
			 if(document.form1.fquahigh.value.replace(/\s+/g, '')=="LL" && document.form1.foquahigh.value.replace(/\s+/g, '')==""){	
				document.form1.fsubmit.disabled=false;
				document.form1.foquahigh.focus();
				return false;
			 }
			 if(document.form1.ftsub1.value.replace(/\s+/g, '')=="" || document.form1.fgtsub1.value.replace(/\s+/g, '')==""){	
				document.form1.fsubmit.disabled=false;
				alert("Please complete your STPM / A Level / UEC result");
				document.form1.ftsub1.focus();
				return false;
			 }
			 if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
				 if(document.form1.ftmark1.value.replace(/\s+/g, '')=="" || document.form1.ftawardbody1.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					alert("Please complete your A Level result");
					document.form1.ftsub1.focus();
					return false;	
				 
				 }
				 if(document.form1.ftawardbody1.value == "OTH" && document.form1.ftawardboth1.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					alert("If Others, please specify to complete your A Level result");
					document.form1.ftawardboth1.focus();
					return false;
				}
				if(document.form1.ftawardbody1.value != "OTH" && document.form1.ftawardboth1.value.replace(/\s+/g, '')!=""){
					document.form1.fsubmit.disabled=false;
					document.form1.ftawardboth1.value="";
					//return false;
				}
			 }
			 
			  
			 
			 
			 
				if((document.form1.ftsub2.value != "")&&(document.form1.fgtsub2.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub2.focus();
					 return false;
				} 
				if((document.form1.ftsub2.value  == "")&&(document.form1.fgtsub2.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub2.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub2.value != "" || document.form1.fgtsub2.value  != "") && (document.form1.ftmark2.value == "" || document.form1.ftawardbody2.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub2.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody2.value == "OTH" && document.form1.ftawardboth2.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth2.focus();
						return false;
					}
					
					if(document.form1.ftawardbody2.value != "OTH" && document.form1.ftawardboth2.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth2.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub3.value != "")&&(document.form1.fgtsub3.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub3.focus();
					 return false;
				} 
				if((document.form1.ftsub3.value  == "")&&(document.form1.fgtsub3.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub3.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub3.value != "" || document.form1.fgtsub3.value  != "") && (document.form1.ftmark3.value == "" || document.form1.ftawardbody3.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub3.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody3.value == "OTH" && document.form1.ftawardboth3.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth3.focus();
						return false;
					}
					
					if(document.form1.ftawardbody3.value != "OTH" && document.form1.ftawardboth3.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth3.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub4.value != "")&&(document.form1.fgtsub4.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub4.focus();
					 return false;
				} 
				if((document.form1.ftsub4.value  == "")&&(document.form1.fgtsub4.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub4.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub4.value != "" || document.form1.fgtsub4.value  != "") && (document.form1.ftmark4.value == "" || document.form1.ftawardbody4.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub4.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody4.value == "OTH" && document.form1.ftawardboth4.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth4.focus();
						return false;
					}
					
					if(document.form1.ftawardbody4.value != "OTH" && document.form1.ftawardboth4.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth4.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub5.value != "")&&(document.form1.fgtsub5.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub5.focus();
					 return false;
				} 
				if((document.form1.ftsub5.value  == "")&&(document.form1.fgtsub5.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub5.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub5.value != "" || document.form1.fgtsub5.value  != "") && (document.form1.ftmark5.value == "" || document.form1.ftawardbody5.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub5.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody5.value == "OTH" && document.form1.ftawardboth5.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth5.focus();
						return false;
					}
					
					if(document.form1.ftawardbody5.value != "OTH" && document.form1.ftawardboth5.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth5.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub6.value != "")&&(document.form1.fgtsub6.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub6.focus();
					 return false;
				} 
				if((document.form1.ftsub6.value  == "")&&(document.form1.fgtsub6.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub6.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub6.value != "" || document.form1.fgtsub6.value  != "") && (document.form1.ftmark6.value == "" || document.form1.ftawardbody6.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub6.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody6.value == "OTH" && document.form1.ftawardboth6.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth6.focus();
						return false;
					}
					
					if(document.form1.ftawardbody6.value != "OTH" && document.form1.ftawardboth6.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth6.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub7.value != "")&&(document.form1.fgtsub7.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub7.focus();
					 return false;
				} 
				if((document.form1.ftsub7.value  == "")&&(document.form1.fgtsub7.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub7.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub7.value != "" || document.form1.fgtsub7.value  != "") && (document.form1.ftmark7.value == "" || document.form1.ftawardbody7.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub7.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody7.value == "OTH" && document.form1.ftawardboth7.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth7.focus();
						return false;
					}
					
					if(document.form1.ftawardbody7.value != "OTH" && document.form1.ftawardboth7.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth7.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub8.value != "")&&(document.form1.fgtsub8.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub8.focus();
					 return false;
				} 
				if((document.form1.ftsub8.value  == "")&&(document.form1.fgtsub8.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub8.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub8.value != "" || document.form1.fgtsub8.value  != "") && (document.form1.ftmark8.value == "" || document.form1.ftawardbody8.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub8.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody8.value == "OTH" && document.form1.ftawardboth8.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth8.focus();
						return false;
					}
					
					if(document.form1.ftawardbody8.value != "OTH" && document.form1.ftawardboth8.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth8.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub9.value != "")&&(document.form1.fgtsub9.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub9.focus();
					 return false;
				} 
				if((document.form1.ftsub9.value  == "")&&(document.form1.fgtsub9.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub9.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub9.value != "" || document.form1.fgtsub9.value  != "") && (document.form1.ftmark9.value == "" || document.form1.ftawardbody9.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub9.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody9.value == "OTH" && document.form1.ftawardboth9.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth9.focus();
						return false;
					}
					
					if(document.form1.ftawardbody9.value != "OTH" && document.form1.ftawardboth9.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth9.value="";
						//return false;
					}
				}
			 
				if((document.form1.ftsub10.value != "")&&(document.form1.fgtsub10.value  == "")){
					document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.fgtsub10.focus();
					 return false;
				} 
				if((document.form1.ftsub10.value  == "")&&(document.form1.fgtsub10.value  != "")){
					 document.form1.fsubmit.disabled=false;
					 alert("Please complete your STPM / A Level / UEC result");
					 document.form1.ftsub10.focus();
					 return false;
				} 
				if(document.form1.fquahigh.value.replace(/\s+/g, '')=="AL"){
					if((document.form1.ftsub10.value != "" || document.form1.fgtsub10.value  != "") && (document.form1.ftmark10.value == "" || document.form1.ftawardbody10.value  == "")){
						document.form1.fsubmit.disabled=false;
						 alert("Please complete your A Level result");
						 document.form1.ftsub10.focus();
						 return false;
					} 
				
					if(document.form1.ftawardbody10.value == "OTH" && document.form1.ftawardboth10.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						alert("If Others, please specify to complete your A Level result");
						document.form1.ftawardboth10.focus();
						return false;
					}
					
					if(document.form1.ftawardbody10.value != "OTH" && document.form1.ftawardboth10.value.replace(/\s+/g, '')!=""){
						document.form1.fsubmit.disabled=false;
						document.form1.ftawardboth10.value="";
						//return false;
					}
				}
			 
		}
		if(document.form1.fothqua.value.replace(/\s+/g, '')=="Y") {//ex-TARCIAN
			if(document.form1.fexstatus.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fexstatus.focus();
				return false;	
			} 
			if(document.form1.fexprogram.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fexprogram.focus();
				return false;	
			}
			
		}
		if(document.form1.fothqua.value.replace(/\s+/g, '')=="N") {//OTHER INSTITUTE	
			if(document.form1.finscat.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finscat.focus();
				return false;	
			} 
			if(document.form1.finsbranch.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finsbranch.focus();
				return false;	
			} 
			if(document.form1.finstitute.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finstitute.focus();
				return false;	
			}
			if(document.form1.finstitute.value.replace(/\s+/g, '').substring(2,5)=="999"){
				if(document.form1.fothinstitute.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fothinstitute.focus();
					return false;
				}
			}  
			
			 
			if(document.form1.fqlevel.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fqlevel.focus();
				return false;	
			}
			if(document.form1.faward.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.faward.focus();
				return false;	
			}
			if(document.form1.fawardcomplete.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fawardcomplete.focus();
				return false;	
			}
			if(document.form1.fawardcomplete.value.replace(/\s+/g, '')=="Y"){
				if(document.form1.fawardmonth.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fawardmonth.focus();
					return false;	
				}
				if(document.form1.fawardyear.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fawardyear.focus();
					return false;	
				}
				if(document.form1.fcredit.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fcredit.focus();
					return false;
				}
				if(document.form1.fcgpa.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fcgpa.focus();
					return false;	
				}
			}
			if(document.form1.fbka.value.replace(/\s+/g, '')=="" && (document.form1.fbkagrade.value.replace(/\s+/g, '')!="" || document.form1.fbkacredit.value.replace(/\s+/g, '')!="") ){
				document.form1.fsubmit.disabled=false;
				document.form1.fbka.focus();
				return false;	
			}
			if(document.form1.fbka.value.replace(/\s+/g, '')!="" && document.form1.fbkacredit.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fbkacredit.focus();
				return false;	
			}
			if(document.form1.fbka.value.replace(/\s+/g, '')!="" && document.form1.fbkagrade.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fbkagrade.focus();
				return false;	
			}
			if(document.form1.fbka.value.replace(/\s+/g, '')!="" && !alphanumeric_pattern.test(document.form1.fbka.value)){  
				alert("Invalid Character!");
				document.form1.fsubmit.disabled=false;
				document.form1.fbka.focus();
				return false;
	  		}
		}
		
		
		
		//english qualification validation 
		if(document.form1.fenglishQua.value.replace(/\s+/g, '')=="MU"){
			if(document.form1.fmuetband.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
                document.form1.fmuetband.focus();
                return false;
			}
			if(document.form1.fmuetexpirydt.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
                document.form1.fmuetexpirydt.focus();
                return false;
			}else{
				if(document.form1.fmuetexpirydt.value.length!=10){
				document.form1.fsubmit.disabled=false;
				alert("Wrong format (eg: DD-MM-YYYY)");
                document.form1.fmuetexpirydt.focus();
                return false;
				}
			}
		}
		if(document.form1.fenglishQua.value.replace(/\s+/g, '')=="IE"){
			if(document.form1.fieltsband.value.replace(/\s+/g, '')=="" || document.form1.fieltsband2.value.replace(/\s+/g, '')==""){ 
				document.form1.fsubmit.disabled=false;
                document.form1.fieltsband.focus();
                return false;
			}
			if(document.form1.fieltstestdt.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
                document.form1.fieltstestdt.focus();
                return false;
			}else{
				if(document.form1.fieltstestdt.value.length!=10){
				document.form1.fsubmit.disabled=false;
				alert("Wrong format (eg: DD-MM-YYYY)");
                document.form1.fieltstestdt.focus();
                return false;
				}
			}
		}
		if(document.form1.fenglishQua.value.replace(/\s+/g, '')=="TP" || document.form1.fenglishQua.value.replace(/\s+/g, '')=="TI" || document.form1.fenglishQua.value.replace(/\s+/g, '')=="TC"){
			if(document.form1.ftoeflscore.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
                document.form1.ftoeflscore.focus();
                return false;
			}
			if(document.form1.ftoefltestdt.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.ftoefltestdt.focus();
                return false;
			}else{
				if(document.form1.ftoefltestdt.value.length!=10){
				document.form1.fsubmit.disabled=false;
				alert("Wrong format (eg: DD-MM-YYYY)");
                document.form1.ftoefltestdt.focus();
                return false;
				}
			}	
		}
		
		if(document.form1.fenglishQua.value.replace(/\s+/g, '')=="LS"){
			if(document.form1.fLSscore.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
                document.form1.fLSscore.focus();
                return false;
			}
		}
		
		
		//other qualification 2 and 3 put bottom of english qualification to avoid error on english qualification validation
		if(document.form1.fothqua2.value.replace(/\s+/g, '')=="Y") {//ex-TARCIAN2
			if(document.form1.fexstatus2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fexstatus2.focus();
				return false;	
			} 
			if(document.form1.fexprogram2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fexprogram2.focus();
				return false;	
			}
			
		}
		if(document.form1.fothqua2.value.replace(/\s+/g, '')=="N") {//OTHER INSTITUTE2
			if(document.form1.finscat2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finscat2.focus();
				return false;	
			} 
			if(document.form1.finsbranch2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finsbranch2.focus();
				return false;	
			} 
			if(document.form1.finstitute2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finstitute2.focus();
				return false;	
			}
			if(document.form1.finstitute2.value.replace(/\s+/g, '').substring(2,5)=="999"){
				if(document.form1.fothinstitute2.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fothinstitute2.focus();
					return false;
				}
			}  
			
			 
			if(document.form1.fqlevel2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fqlevel2.focus();
				return false;	
			}
			if(document.form1.faward2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.faward2.focus();
				return false;	
			}
			if(document.form1.fawardcomplete2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fawardcomplete2.focus();
				return false;	
			}
			if(document.form1.fawardcomplete2.value.replace(/\s+/g, '')=="Y"){
				if(document.form1.fawardmonth2.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fawardmonth2.focus();
					return false;	
				}
				if(document.form1.fawardyear2.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fawardyear2.focus();
					return false;	
				}
				if(document.form1.fcredit2.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fcredit2.focus();
					return false;
				}
				if(document.form1.fcgpa2.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fcgpa2.focus();
					return false;	
				}
			}
			if(document.form1.fbka2.value.replace(/\s+/g, '')=="" && (document.form1.fbkagrade2.value.replace(/\s+/g, '')!="" || document.form1.fbkacredit2.value.replace(/\s+/g, '')!="") ){
				document.form1.fsubmit.disabled=false;
				document.form1.fbka2.focus();
				return false;	
			}
			if(document.form1.fbka2.value.replace(/\s+/g, '')!="" && document.form1.fbkacredit2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fbkacredit2.focus();
				return false;	
			}
			if(document.form1.fbka2.value.replace(/\s+/g, '')!="" && document.form1.fbkagrade2.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fbkagrade2.focus();
				return false;	
			}
			if(document.form1.fbka2.value.replace(/\s+/g, '')!="" && !alphanumeric_pattern.test(document.form1.fbka2.value)){  
				alert("Invalid Character!");
				document.form1.fsubmit.disabled=false;
				document.form1.fbka2.focus();
				return false;
	  		}
		}
		
		
		
		if(document.form1.fothqua3.value.replace(/\s+/g, '')=="Y") {//ex-TARCIAN3
			if(document.form1.fexstatus3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fexstatus3.focus();
				return false;	
			} 
			if(document.form1.fexprogram3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fexprogram3.focus();
				return false;	
			}
			
		}
		if(document.form1.fothqua3.value.replace(/\s+/g, '')=="N") {//OTHER INSTITUTE3
			if(document.form1.finscat3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finscat3.focus();
				return false;	
			} 
			if(document.form1.finsbranch3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finsbranch3.focus();
				return false;	
			} 
			if(document.form1.finstitute3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.finstitute3.focus();
				return false;	
			}
			if(document.form1.finstitute3.value.replace(/\s+/g, '').substring(2,5)=="999"){
				if(document.form1.fothinstitute3.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fothinstitute3.focus();
					return false;
				}
			}  
			
			 
			if(document.form1.fqlevel3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fqlevel3.focus();
				return false;	
			}
			if(document.form1.faward3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.faward3.focus();
				return false;	
			}
			if(document.form1.fawardcomplete3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fawardcomplete3.focus();
				return false;	
			}
			if(document.form1.fawardcomplete3.value.replace(/\s+/g, '')=="Y"){
				if(document.form1.fawardmonth3.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fawardmonth3.focus();
					return false;	
				}
				if(document.form1.fawardyear3.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fawardyear3.focus();
					return false;	
				}
				if(document.form1.fcredit3.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fcredit3.focus();
					return false;
				}
				if(document.form1.fcgpa3.value.replace(/\s+/g, '')==""){
					document.form1.fsubmit.disabled=false;
					document.form1.fcgpa3.focus();
					return false;	
				}
			}
			if(document.form1.fbka3.value.replace(/\s+/g, '')=="" && (document.form1.fbkagrade3.value.replace(/\s+/g, '')!="" || document.form1.fbkacredit3.value.replace(/\s+/g, '')!="") ){
				document.form1.fsubmit.disabled=false;
				document.form1.fbka3.focus();
				return false;	
			}
			if(document.form1.fbka3.value.replace(/\s+/g, '')!="" && document.form1.fbkacredit3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fbkacredit3.focus();
				return false;	
			}
			if(document.form1.fbka3.value.replace(/\s+/g, '')!="" && document.form1.fbkagrade3.value.replace(/\s+/g, '')==""){
				document.form1.fsubmit.disabled=false;
				document.form1.fbkagrade3.focus();
				return false;	
			}
			if(document.form1.fbka3.value.replace(/\s+/g, '')!="" && !alphanumeric_pattern.test(document.form1.fbka3.value)){  
				alert("Invalid Character!");
				document.form1.fsubmit.disabled=false;
				document.form1.fbka3.focus();
				return false;
	  		}
		}
		
		
		
		//MICRO CREDENTIAL		 
		
			 if(document.form1.fmccourse1.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccat1.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccat1.focus();
					 return false;
				 } 
				 if (document.form1.fmccbranch1.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccbranch1.focus();
					 return false;
				 } 
				 if (document.form1.fmccinstitute1.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccinstitute1.focus();
					 return false;
				 } 
				 if(document.form1.fmccinstitute1.value.replace(/\s+/g, '').substring(2,5)=="999"){
					if(document.form1.fothmccinst1.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						document.form1.fothmccinst1.focus();
						return false;
					}
				}  
			 }
		
		  	if(document.form1.fmccat1.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccourse1.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccourse1.focus();
					 return false;
				 }
		 	 }
		
			 if(document.form1.fmccourse2.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccat2.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccat2.focus();
					 return false;
				 } 
				 if (document.form1.fmccbranch2.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccbranch2.focus();
					 return false;
				 } 
				 if (document.form1.fmccinstitute2.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccinstitute2.focus();
					 return false;
				 } 
				 if(document.form1.fmccinstitute2.value.replace(/\s+/g, '').substring(2,5)=="999"){
					if(document.form1.fothmccinst2.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						document.form1.fothmccinst2.focus();
						return false;
					}
				}  
			 }
		
		  	if(document.form1.fmccat2.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccourse2.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccourse2.focus();
					 return false;
				 }
		 	 }
		
			 if(document.form1.fmccourse3.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccat3.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccat3.focus();
					 return false;
				 } 
				 if (document.form1.fmccbranch3.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccbranch3.focus();
					 return false;
				 } 
				 if (document.form1.fmccinstitute3.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccinstitute3.focus();
					 return false;
				 } 
				 if(document.form1.fmccinstitute3.value.replace(/\s+/g, '').substring(2,5)=="999"){
					if(document.form1.fothmccinst3.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						document.form1.fothmccinst3.focus();
						return false;
					}
				}  
			 }
		
		  	if(document.form1.fmccat3.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccourse3.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccourse3.focus();
					 return false;
				 }
		 	 }
		
			 if(document.form1.fmccourse4.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccat4.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccat4.focus();
					 return false;
				 } 
				 if (document.form1.fmccbranch4.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccbranch4.focus();
					 return false;
				 } 
				 if (document.form1.fmccinstitute4.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccinstitute4.focus();
					 return false;
				 } 
				 if(document.form1.fmccinstitute4.value.replace(/\s+/g, '').substring(2,5)=="999"){
					if(document.form1.fothmccinst4.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						document.form1.fothmccinst4.focus();
						return false;
					}
				}  
			 }
		
		  	if(document.form1.fmccat4.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccourse4.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccourse4.focus();
					 return false;
				 }
		 	 }
		
			 if(document.form1.fmccourse5.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccat5.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccat5.focus();
					 return false;
				 } 
				 if (document.form1.fmccbranch5.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccbranch5.focus();
					 return false;
				 } 
				 if (document.form1.fmccinstitute5.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccinstitute5.focus();
					 return false;
				 } 
				 if(document.form1.fmccinstitute5.value.replace(/\s+/g, '').substring(2,5)=="999"){
					if(document.form1.fothmccinst5.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						document.form1.fothmccinst5.focus();
						return false;
					}
				}  
			 }
		
		  	if(document.form1.fmccat5.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccourse5.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccourse5.focus();
					 return false;
				 }
		 	 }
		
			 if(document.form1.fmccourse6.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccat6.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccat6.focus();
					 return false;
				 } 
				 if (document.form1.fmccbranch6.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccbranch6.focus();
					 return false;
				 } 
				 if (document.form1.fmccinstitute6.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccinstitute6.focus();
					 return false;
				 } 
				 if(document.form1.fmccinstitute6.value.replace(/\s+/g, '').substring(2,5)=="999"){
					if(document.form1.fothmccinst6.value.replace(/\s+/g, '')==""){
						document.form1.fsubmit.disabled=false;
						document.form1.fothmccinst6.focus();
						return false;
					}
				}  
			 }
		
		  	if(document.form1.fmccat6.value.replace(/\s+/g, '')!=""){
				 if (document.form1.fmccourse6.value.replace(/\s+/g, '')==""){
					 document.form1.fsubmit.disabled=false;
					 document.form1.fmccourse6.focus();
					 return false;
				 }
		 	 }
			
		
		
	 }
	
	
	function getBranch(retrieve){
		var finscat = document.form1.finscat.value;
		new jsInsBranch(finscat,'finsbranch',retrieve);
	
	}
	
	function getInstitute(retrieve){
		var finscat = document.form1.finscat.value;
		var finsbranch = document.form1.finsbranch.value;
		new jsInstituteNoTARUMT(finscat,finsbranch,'finstitute',retrieve);
	}
	
	function getBranch2(retrieve){
		var finscat2 = document.form1.finscat2.value;
		new jsInsBranch(finscat2,'finsbranch2',retrieve);
	}
		
	function getInstitute2(retrieve){
		var finscat2 = document.form1.finscat2.value;
		var finsbranch2 = document.form1.finsbranch2.value;
		new jsInstituteNoTARUMT(finscat2,finsbranch2,'finstitute2',retrieve);
	}
	
	function getBranch3(retrieve){
		var finscat3 = document.form1.finscat3.value;
		new jsInsBranch(finscat3,'finsbranch3',retrieve);
	}
		
	function getInstitute3(retrieve){
		var finscat3 = document.form1.finscat3.value;
		var finsbranch3 = document.form1.finsbranch3.value;
		new jsInstituteNoTARUMT(finscat3,finsbranch3,'finstitute3',retrieve);
	}

	
	function chkSchool(fvalue){
		if(fvalue.substring(1,4)=="999"){
			document.form1.foschool.disabled=false;
			document.form1.foschool.focus();
		}else{
			document.form1.foschool.disabled=true;
			document.form1.foschool.value="";
		}
	}
	
	 function chkSPM(fvalue){
		if(fvalue=="L"){
			document.form1.foqua.disabled=false;
			document.form1.foqua.focus();
		}else{
			document.form1.foqua.disabled=true;
			document.form1.foqua.value="";
		}
		
		//UEC wait for SPM result
		if(fvalue=="" && document.form1.fquahigh.value=="UE"){
			$('#divWaitSPM').show();
		}else{
			$('#divWaitSPM').hide();
		}
		
	}
	
	function chkSTPM(fvalue){
		if(fvalue=="LL"){
			document.form1.foquahigh.disabled=false;
			document.form1.foquahigh.focus();
		}else{
			document.form1.foquahigh.disabled=true;
			document.form1.foquahigh.value="";
		}
		
		//UEC wait for SPM result
		if(fvalue=="UE" && document.form1.fqua.value==""){
			$('#divWaitSPM').show();
		}else{
			$('#divWaitSPM').hide();
		}
	}
	
	function  check_SPMQuaButton(qua){
		if(qua == "M") {
			$('#divSPMbutton').show();
			//$('#AddOnSPMDiv').show();
		}else{
			$('#divSPMbutton').hide();
			$('#AddOnSPMDiv').hide();
		}
	}
	
	function check_EnglishQua(engqua) {
		if(engqua == "MU") {
			$('#divMUET').show();
			$('#divIELTS').hide();
			$('#divTOEFL').hide();
			$('#divLS').hide();	
		} else if(engqua == "IE") {
			$('#divMUET').hide();
			$('#divIELTS').show();
			$('#divTOEFL').hide();
			$('#divLS').hide();	
		} else if(engqua == "TP" || engqua == "TI" || engqua == "TC") {
			$('#divMUET').hide();
			$('#divIELTS').hide();
			$('#divTOEFL').show();
			$('#divLS').hide();	
		} else if(engqua == "LS") {
			$('#divMUET').hide();
			$('#divIELTS').hide();
			$('#divTOEFL').hide();
			$('#divLS').show();	
		} else {
			$('#divMUET').hide();
			$('#divIELTS').hide();
			$('#divTOEFL').hide();
			$('#divLS').hide();	
		}
	}
	
	
	function  checkDecimal(evt){
		evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		if (charCode > 47 && charCode < 58)
			return true;
		else if(charCode==13){ //Enter
			forms.submit();
			return false;
		}else
			return false;
	}
	
	var flip = 0;
	$( "faddfile" ).click(function() {
	  $('#divQ1Add').toggle( flip++ % 2 === 0 );
	});
	
    function loadResultType(qualification, intakeCode, resultType, programLevel) {
  // This function would typically make an AJAX call to fetch result types
  // For this example, we'll just populate a select element with dummy data
  const resultTypeSelect = document.createElement('select');
  resultTypeSelect.name = 'fresulttype';
  resultTypeSelect.id = 'fresulttype';
  resultTypeSelect.className = 'form-control';

  const options = [
    { value: '', text: 'Select Result Type' },
    { value: 'A', text: 'Actual Result' },
    { value: 'F', text: 'Forecast Result' },
    { value: 'T', text: 'Trial Result' }
  ];

  options.forEach(option => {
    const optionElement = document.createElement('option');
    optionElement.value = option.value;
    optionElement.textContent = option.text;
    resultTypeSelect.appendChild(optionElement);
  });

  const resultTypeDIV = document.getElementById('resultTypeDIV');
  resultTypeDIV.innerHTML = '';
  resultTypeDIV.appendChild(resultTypeSelect);
}

  // Start of Selection
function loadLowQualification(qualification) {
  const subjectsM = [
    'Bahasa Melayu', 'Bahase Ingerris', 'Pendidikan Moral', 'Pendidikan Islam', 'Sejarah',
    'Mathematics', 'Additional Mathematics', 'Physics', 'Chemistry', 
    'Biology', 'Science', 'Additional Science', 'Prinsip Perakaunan', 'Ekonomi', 'Perniagaan', 'Geografi', 'Sains Komputer',
    'Pendidikan Seni Visual', 'Bahasa Tamil', 'English for Science and Technology', 'Bahasa Cina', 'Kesusasteraan Tamil', 'Sains Rumah Tangga',
    'Pertanian', 'Reka Cipta'
  ];

  const subjectsO = [
    'English Language', 'History', 'Geography', 'Mathematics-Additional', 'Mathematics (with Coursework)',
    'Statistics', 'Physics', 'Chemistry', 'Biology', 'Science-Combined', 'Physical Education',
    'Accounting', 'Economics', 'Business Studies', 'Commerse', 'Enterprise', 'Arts', 'Computer Science', 'Agriculture',
    'Food and Nutrition', 'Drama', 'Music', 'Malay-Foreign Language', 'Chinese', 'Tamil'
  ];

  const gradesM = ['A+', 'A', 'A-', 'B+', 'B', 'C+', 'C', 'D', 'E', 'G'];
  const gradesO = ['A*', 'A', 'B', 'C', 'D', 'E', 'U'];
  const lowqualDiv = document.getElementById('lowqualDiv');
  lowqualDiv.innerHTML = '';

  if (!qualification) {
    return;
  }

  const rowSubject = document.createElement('label');
  rowSubject.className = 'col-sm-6 control-label text-right';
  rowSubject.style.fontWeight = 'bold';
  rowSubject.textContent = 'Subject';
  const rowGrade = document.createElement('label');
  rowGrade.className = 'col-sm-6 control-label text-right';
  rowGrade.style.fontWeight = 'bold';
  rowGrade.textContent = 'Grade';
  lowqualDiv.appendChild(rowSubject);
  lowqualDiv.appendChild(rowGrade);

  const createSubjectGradeRow = (subjects, grades) => {
    const rowDiv = document.createElement('div');
    rowDiv.className = 'form-group';

    const subjectSelect = document.createElement('select');
    subjectSelect.name = 'fsubject';
    subjectSelect.className = 'form-control col-sm-5';

    const defaultSubjectOption = document.createElement('option');
    defaultSubjectOption.value = '';
    defaultSubjectOption.textContent = 'Select Subject';
    subjectSelect.appendChild(defaultSubjectOption);

    subjects.forEach(subject => {
      const option = document.createElement('option');
      option.value = subject;
      option.textContent = subject;
      subjectSelect.appendChild(option);
    });

    const gradeSelect = document.createElement('select');
    gradeSelect.name = 'fgrade';
    gradeSelect.className = 'form-control col-sm-5';

    const defaultGradeOption = document.createElement('option');
    defaultGradeOption.value = '';
    defaultGradeOption.textContent = 'Select Grade';
    gradeSelect.appendChild(defaultGradeOption);

    grades.forEach(grade => {
      const option = document.createElement('option');
      option.value = grade;
      option.textContent = grade;
      gradeSelect.appendChild(option);
    });

    const subjectColDiv = document.createElement('div');
    subjectColDiv.className = 'col-sm-6';
    subjectColDiv.appendChild(subjectSelect);

    const gradeColDiv = document.createElement('div');
    gradeColDiv.className = 'col-sm-6';
    gradeColDiv.appendChild(gradeSelect);

    rowDiv.appendChild(subjectColDiv);
    rowDiv.appendChild(gradeColDiv);

    return rowDiv;
  };

  const subjects = qualification === 'M' ? subjectsM : subjectsO;
  const grades = qualification === 'M' ? gradesM : gradesO;
  lowqualDiv.appendChild(createSubjectGradeRow(subjects, grades));

  const addButton = document.createElement('button');
  addButton.textContent = 'Add Subject';
  addButton.className = 'btn btn-sm btn-primary';
  addButton.onclick = function(event) {
    event.preventDefault();
    lowqualDiv.insertBefore(createSubjectGradeRow(subjects,grades), addButton);
  };

  lowqualDiv.appendChild(addButton);
}

function loadSPMQualification(qualification) {
  loadLowQualification(qualification);
}

function loadHighQualification(qualification) {

  const subjectsST = [
    'Pengajian Am', 'Mathematics (M)', 'Mathematics (T)', 'Further Mathematics', 'Physics',
    'Chemistry', 'Biology', 'Perakaunan', 'Ekonomi', 'Pengajian Perniagaan', 'Sejarah', 
    'Geografi', 'Information and Communications Technology (ICT)', 'Seni Visual', 'Sains Sukan',
    'Bahasa Melayu', 'Kesusasteraan Melayu Komunikatif', 'Literature in English', 'Bahasa Cina',
    'Bahasa Tamil', 'Syariah', 'Usuluddin', 'Bahasa Arab'
  ];

  const subjectsAL = [
    'English - Language', 'English - Literature', 'History', 'Geography', 'Mathematics', 
    'Pure Mathematics', 'Mathematics - Further', 'Physics', 'Chemistry', 'Biology', 
    'Accounting', 'Economics', 'Business Studies/ Business', 'Law', 'Computing',
    'Applied Information and Communication Technology', 'Computer Science', 'Food Studies',
    'Art and Design', 'Design and Technology', 'Design and Textiles', 'Media Studies', 
    'Music', 'Psychology', 'Sociology', 'Travel and Tourism', 'Global Perspectives and Research',
    'Chinese', 'Islamic Studies'
  ];

  const subjectsUE = [
    'Chinese Language', 'Malay Language', 'English Language', 'Mathematics', 'Advanced Mathematics',
    'History', 'Geography', 'Biology',
    'Chemistry', 'Physics', 'Business Studies', 'Accounting', 
    'Economics', 'Computing and Information Technology', 'Art', 
    'Basic Circuit Theory', 'Principle Electronic', 'Digital Logic'
  ];

  const gradesST = ['A', 'A-', 'B+', 'B','B-', 'C+', 'C','C-','D+', 'D', 'F', 'X'];
  const gradesAL = ['A*', 'A', 'B', 'C', 'D', 'E', 'O', 'U', 'X'];
  const gradesUE = ['A1', 'A2', 'B3', 'B4','B5', 'B6', 'C7','C8','F9','X'];

  const highqualDiv = document.getElementById('highqualDiv');
  highqualDiv.innerHTML = '';

  if (!qualification) {
    return;
  }
  const rowSubject = document.createElement('label');
  rowSubject.className = 'col-sm-6 control-label text-right';
  rowSubject.style.fontWeight = 'bold';
  rowSubject.textContent = 'Subject';
  const rowGrade = document.createElement('label');
  rowGrade.className = 'col-sm-6 control-label text-right';
  rowGrade.style.fontWeight = 'bold';
  rowGrade.textContent = 'Grade';
  highqualDiv.appendChild(rowSubject);
  highqualDiv.appendChild(rowGrade);

  const createSubjectGradeRow = (subjects, grades) => {
    const rowDiv = document.createElement('div');
    rowDiv.className = 'form-group';

    const subjectSelect = document.createElement('select');
    subjectSelect.name = 'fhighsubject';
    subjectSelect.className = 'form-control col-sm-5';

    const defaultSubjectOption = document.createElement('option');
    defaultSubjectOption.value = '';
    defaultSubjectOption.textContent = 'Select Subject';
    subjectSelect.appendChild(defaultSubjectOption);

    subjects.forEach(subject => {
      const option = document.createElement('option');
      option.value = subject;
      option.textContent = subject;
      subjectSelect.appendChild(option);
    });

    const gradeSelect = document.createElement('select');
    gradeSelect.name = 'fhighgrade';
    gradeSelect.className = 'form-control col-sm-5';

    const defaultGradeOption = document.createElement('option');
    defaultGradeOption.value = '';
    defaultGradeOption.textContent = 'Select Grade';
    gradeSelect.appendChild(defaultGradeOption);

    grades.forEach(grade => {
      const option = document.createElement('option');
      option.value = grade;
      option.textContent = grade;
      gradeSelect.appendChild(option);
    });

    const subjectColDiv = document.createElement('div');
    subjectColDiv.className = 'col-sm-6';
    subjectColDiv.appendChild(subjectSelect);

    const gradeColDiv = document.createElement('div');
    gradeColDiv.className = 'col-sm-6';
    gradeColDiv.appendChild(gradeSelect);

    rowDiv.appendChild(subjectColDiv);
    rowDiv.appendChild(gradeColDiv);

    return rowDiv;
  };

  const subjects = qualification === 'ST' ? subjectsST : qualification === 'AL' ? subjectsAL : subjectsUE;
  const grades = qualification === 'ST' ? gradesST : qualification === 'AL' ? gradesAL : gradesUE;
  highqualDiv.appendChild(createSubjectGradeRow(subjects, grades));

  const addButton = document.createElement('button');
  addButton.textContent = 'Add Subject';
  addButton.className = 'btn btn-sm btn-primary';
  addButton.onclick = function(event) {
    event.preventDefault();
    highqualDiv.insertBefore(createSubjectGradeRow(subjects, grades), addButton);
  };

  highqualDiv.appendChild(addButton);
}

function loadTarumtQualification(qualification) {
  const foundationDiv = document.getElementById('foundationDiv');
  const diplomaDiv = document.getElementById('diplomaDiv');

  // Hide both divs initially
  if(!qualification){
	foundationDiv.style.display = 'none';
  	diplomaDiv.style.display = 'none';
  }
  

  // Display the appropriate div based on the selected qualification
  if (qualification === 'F') {
    foundationDiv.style.display = 'block';
	diplomaDiv.style.display = 'none';
  } else if (qualification === 'D') {
    diplomaDiv.style.display = 'block';
	foundationDiv.style.display = 'none';
  }
}

function loadPostQualification(qualification) {

  if (!qualification) {
	document.getElementById('postgraduateDiv').style.display = 'none';
    return;
  }

  if(qualification == 'BA'){
	document.getElementById('postgraduateDiv').style.display = 'block';
  }


}

function collectAndSubmitData(event) {
  event.preventDefault(); // Prevent default form submission

  // Collect SPM/O Level data
  const lowQualData = collectSubjectGradeData('fsubject', 'fgrade');

  // Collect STPM/A Level/UEC data
  const highQualData = collectSubjectGradeData('fhighsubject', 'fhighgrade');

  // Collect TAR UMT data
  let tarumtData = {};
  const tarumtQualification = document.getElementById('fquatarumt').value;
  if (tarumtQualification === 'F') {
    tarumtData = {
      qualification: 'Foundation',
      program: document.getElementById('foundationIn').value
    };
  } else if (tarumtQualification === 'D') {
    tarumtData = {
      qualification: 'Diploma',
      program: document.getElementById('diplomaIn').value,
      cgpa: document.getElementById('cgpa').value
    };
  }

  // Collect Postgraduate data if not 'None'
  let postGraduateData = {};
  const postQualification = document.getElementById('postQualification').value;
  if (postQualification !== '') {
    postGraduateData = {
      hasComputingMathBachelor: document.getElementById('fothqua').checked,
	  studyEnglish: document.getElementById('fstudiesEnglish').checked,
      workExperience: document.getElementById('fworkexp').value,
      latestCGPA: document.getElementById('fcgpa').value
    };
  }

  // Collect English Proficiency data
  const englishQualification = document.getElementById('fenglishQua').value;
  let englishProficiencyData = {};
  if (englishQualification === 'MU') {
    englishProficiencyData = {
      qualification: englishQualification,
      band: document.getElementById('fmuetband').value
    };
  } else if (englishQualification === 'IE') {
    englishProficiencyData = {
      qualification: englishQualification,
      bandScore: document.getElementById('fieltsband').value
    };
  } else if (englishQualification === 'TP') {
    englishProficiencyData = {
      qualification: englishQualification,
      score: document.getElementById('ftoeflscore').value
    };
  } 

  // Combine all data
  const allData = {
    lowQual: lowQualData,
    highQual: highQualData,
    tarumt: tarumtData,
    postGraduate: postGraduateData,
    englishProficiency: englishProficiencyData
  };

  // Store data in hidden field
  document.getElementById('subjectGradeData').value = JSON.stringify(allData);
  console.log(JSON.stringify(allData));
  // Submit the form
  document.form1.submit();
}

function collectSubjectGradeData(subjectName, gradeName) {
  const data = [];
  const subjects = document.getElementsByName(subjectName);
  const grades = document.getElementsByName(gradeName);

  for (let i = 0; i < subjects.length; i++) {
    if (subjects[i].value && grades[i].value) {
      data.push({
        subject: subjects[i].value,
        grade: grades[i].value
      });
    }
  }

  return data;
}
	
	</script>

	
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/font-awesome.css" />
    
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/datepicker.css" />
    
    <!-- text fonts -->
    <link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/ace-fonts.css" />
    
    <!-- ace styles -->
    <link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    
    <!-- inline styles related to this page -->
    
    <!-- ace settings handler -->
    <script src="https://web.tarc.edu.my/portal/assets/js/ace-extra.js"></script>
    
    <script type="text/javascript">
    window.jQuery || document.write("<script src='../../assets/js/jquery.js'>"+"<"+"/script>");
    </script>
    
    <script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='../../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
    </script>
    
    <script src="../../assets/js/date-time/bootstrap-datepicker.js"></script>
    
    <script type="text/javascript">
    jQuery(function($) {
            //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
            })
            //show datepicker when clicking on the icon
            .next().on(ace.click_event, function(){
                $(this).prev().focus();
            });
    
        });
    </script>		
    

	
        
          <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    
             <div class="tabbable">
                <h1>Minimum Requirement Checker</h1>
                
                
		<div class="tab-content" > 
				<!-- <div id="Qualification" class="tab-pane fade in active ">  -->
                    
			<script>loadLowQualification('');</script><script>loadHighQualification('');</script><script>loadPostQualification('');</script> 
				
			<form name="form1" class="form-horizontal" role="form" method="post" action="/check-requirements" onSubmit="collectAndSubmitData(event)">
				
         
           <h4>ACADEMIC QUALIFICATION</h4> 
         
            <h5><u>SPM/O LEVEL :</u></h5> 
             <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="fqua">Qualification</label>
                <div class="col-sm-2">
                   <select name="fqua" class="form-control" id="fqua" onChange="loadLowQualification(this.value);chkSPM(this.value);loadSPMYear(this.value);">
                    <option value="">None</option>
                     <option value="M" >SPM</option>
                      <option value="O" >O Level</option>
                    </select>
                </div>
                
              
                <!-- <div id="DIVresultYear" style="display:none">
                    <label class="col-sm-1 control-label " for="fquayear">Year</label> 
                     <div class="col-sm-1">
                        <input type="text" name="fquayear" id="fquayear" class="form-control" maxlength="4" onKeyPress="return checkDecimal(event)"  value="" />
                    </div> 
                </div>  -->   
                
                
                <!-- <div id="resultTypeDIV"></div> 
                
                
                 <label class="col-sm-2 control-label no-padding-right" for="foqua">If others, please specify</label>
                  <div class="col-sm-2">
                	<input type="text" name="foqua" id="foqua" class="form-control" maxlength="60"  value="" disabled/>
                </div>  -->
               
                <div class="col-sm-10" id="lowqualDiv"></div> 
                
                 
            </div>
          
          
           <br>
            <h5><u>STPM/A LEVEL/ UEC :</u></h5> 
            <!-- <div><p>Applicants with UEC and SPM are also to complete the above SPM section.</p></div> -->
             <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="fquahigh">Qualification</label>
                <div class="col-sm-2">
                   <select name="fquahigh" class="form-control" id="fquahigh" onChange="loadHighQualification(this.value);chkSTPM(this.value)">
                    <option value="">None</option>
                     <option value="ST" >STPM</option>
                      <option value="AL" >A Level</option>
                      <option value="UE" >UEC</option>
                    </select> 
                </div>
                 <!-- <label class="col-sm-2 control-label no-padding-right" for="foquahigh">If others, please specify</label>
                  <div class="col-sm-2">
                	<input type="text" name="foquahigh" id="foquahigh" class="form-control" maxlength="10"  value="" disabled/>
                  </div>  -->
                
                
                 <div class="col-sm-10" id="highqualDiv"></div> 
            </div>
          
          
			<br>
			<h5><u>TARUMT Certification</u></h5>
			<div class="form-group">
				<label class="col-sm-1 control-label no-padding-right"
					for="fquatarumt">Qualification</label>
				<div class="col-sm-2">
					<select name="fquatarumt" class="form-control" id="fquatarumt"
						onChange="loadTarumtQualification(this.value);">
						<option value="">None</option>
						<option value="F">Foundation</option>
						<option value="D">Diploma</option>
					</select>
				</div>
			</div>

			<div id="foundationDiv" style="display:none;">
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"
						for="foundationIn">Foundation in</label>
					<div class="col-sm-3">
						<select name="foundationIn" class="form-control" id="foundationIn">
							<option value="Computing" selected>Computing</option>
							<option value="Science">Science</option>
						</select>
					</div>
				</div>
			</div>

			<div id="diplomaDiv" style="display:none;">
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"
						for="diplomaIn">Diploma in</label>
					<div class="col-sm-3">
						<select name="diplomaIn" class="form-control" id="diplomaIn">
							<option value="Computer Science" selected>Computer Science</option>
							<option value="Information Technology">Information Technology</option>
							<option value="Software Engineering">Software Engineering</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label no-padding-right"
						for="cgpa">CGPA</label>
					<div class="col-sm-2">
						<input type="number" name="cgpa" id="cgpa" class="form-control"
							step="0.01" min="0" max="4" />
					</div>
				</div>
			</div>

           <br>
             <h5><u>Postgraduate Certification</u></h5> 
			 <div class="form-group">
				<label class="col-sm-1 control-label no-padding-right" for="fquahigh">Qualification</label>
                <div class="col-sm-2">
					<select name="postQualification" class="form-control" id="postQualification" onChange="loadPostQualification(this.value)" >
					<option value="" selected>None</option>
					<option value="BA" >Bachelor and Above</option>
					</select>
				</div>
			</div>
			<div id="postgraduateDiv" style="display:none;">
				<div class="form-group" >
					<label class="col-sm-3 control-label no-padding-right" for="fothqua">Have a computing/mathematics qualification</label>
					<div class="col-sm-3 d-flex pt-3">
					<input type="checkbox" name="fothqua" id="fothqua" />
					</div>
				</div>
				
				<div class="form-group" >
					<label class="col-sm-3 control-label no-padding-right" for="fstudiesEnglish">Studies was taken in English</label>
					<div class="col-sm-3 d-flex pt-3">
					<input type="checkbox" name="fstudiesEnglish" id="fstudiesEnglish" />
					</div>
				</div>
				
				<div class="form-group" >
					<label class="col-sm-3 control-label no-padding-right" for="fworkexp">Year of work experience in related field</label>
					<div class="col-sm-1">
					<input type="number" name="fworkexp" id="fworkexp" class="form-control" min="0"/>
					</div>
				</div>

				<div class="form-group" >
					<label class="col-sm-3 control-label no-padding-right" for="fcgpa">Latest CGPA</label>
					<div class="col-sm-1">
					<input type="number" name="fcgpa" id="fcgpa" class="form-control" step="0.01" min="0" max="4"/>
					</div>
				</div>
			</div>
				
     
			<br><br>
			<h5><u>ENGLISH LANGUAGE PROFICIENCY</u></h5>
			<div class="form-group">
				<div class="col-sm-3">
					<select name="fenglishQua" class="form-control" id="fenglishQua" onChange="check_EnglishQua(this.value)" >
						<option value="" selected>English Qualification</option>
						<option value="MU" >MUET</option>
						<option value="IE" >IELTS</option>
						<option value="TP" >TOEFL</option><!-- 
						<option value="LS" >Cambridge Linguaskill</option> -->
					</select>
				</div>
					
					<div id="divMUET"  style="display:none;" > 
						<label class="col-sm-1 control-label no-padding-right" for="fband">Band</label>
						<div class="col-sm-1">
						<select name="fmuetband" class="form-control" id="fmuetband">
							<option value="" selected></option>
							<option value="5.5" >5+</option>
							<option value="5.0" >5.0</option>
							<option value="4.5" >4.5</option>
							<option value="4.0" >4.0</option>
							<option value="3.5" >3.5</option>
							<option value="3.0" >3.0</option>
							<option value="2.5" >2.5</option>
							<option value="2.0" >2.0</option>
							<option value="1.5" >1.5</option>
							<option value="1.0" >1.0</option>
							</select>
						</div>
					</div>
				
				
				<div id="divIELTS"  style="display:none;" > 
					<label class="col-sm-1 control-label no-padding-right" for="fband">Band Score</label>
					<div class="col-sm-1">
						<input type="number" name="fieltsband" id="fieltsband" class="form-control" maxlength = "3" step="0.5" min="1" max="9" value="" />
					</div>
				</div> 
				
				
				<div id="divTOEFL"  style="display:none;" > 
						<label class="col-sm-1 control-label no-padding-right" for="ftoeflscore">Score</label>
							<div class="col-sm-1">
							<input type="number" name="ftoeflscore" id="ftoeflscore" class="form-control" maxlength="3" max="120" min="0"  value=""  />
							</div>
				</div> 
		
		
				<div id="divLS"  style="display:none;" > 
						<label class="col-sm-1 control-label no-padding-right" for="fLSscore">Score</label>
							<div class="col-sm-1">
							<input type="number" name="fLSscore" id="fLSscore" class="form-control" maxlength="4" value=""  />
							</div>
							
				</div>
				<input type="hidden" name="subjectGradeData" id="subjectGradeData"> 
		
								
			</div>
                  <br>
                  <div class="col-sm-8">
                    <!-- <label class="col-sm-2 control-label no-padding-right">&nbsp;</label> -->
                    <div class="col-sm-6">
                        <!-- <input type="hidden" name="fact" value="UpdateQualification" /> -->
                        <button class="btn btn-sm btn-info" name="fsubmit" type="submit">
                            Submit
                        </button>&nbsp;
                        <!--<button class="btn btn-sm btn-info" name="fnext" type="button" onclick="window.location.href='declaration.jsp'" disabled>Next
                        <i class="fa fa-angle-double-right bigger-110" ></i>
                    </button>-->
                    </div>
                </div> 
                
                 </form>
                     <BR><BR><BR>
                   
                    
                   </div><!-- Close <div id="Qualification" class="tab-pane fade in active"> -->
                   
            <br>
              <div class="col-sm-10">
              <!-- <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-9">
                     <button class="btn btn-sm btn-info" name="fnext" type="button" onclick="window.location.href='declaration.jsp'" >
                        <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                        Save &amp; Next
                    </button>
                </div>
                </div>  -->     
           
                    <BR><BR><BR> 
                 </div>
             
                   
                   
                </div><!-- Close <div class="tab-content"> -->
   		 	</div><!-- Close <div class="tabbable"> -->
                    
                    
                    
                    

				 <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->

	
    </div>
</div><!-- /.main-content -->



	

			
					<!-- /section:basics/footer -->
				
			</div>
			
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>

 		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="https://web.tarc.edu.my/portal/assets/js/jquery.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="https://web.tarc.edu.my/portal/assets/js/jquery1x.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='https://web.tarc.edu.my/portal/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="https://web.tarc.edu.my/portal/assets/js/bootstrap.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.scroller.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.colorpicker.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.fileinput.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.typeahead.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.wysiwyg.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.spinner.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.treeview.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.wizard.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.aside.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.ajax-content.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.touch-drag.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.sidebar.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.sidebar-scroll-1.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.submenu-hover.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.widget-box.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.settings.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.settings-rtl.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.settings-skin.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.widget-on-reload.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.searchbox-autocomplete.js"></script>

		<!-- inline scripts related to this page -->

		<!-- the following scripts are used in demo only for onpage help and you don't need them -->
		<link rel="stylesheet" href="https://web.tarc.edu.my/portal/assets/css/ace.onpage-help.css" />
		<link rel="stylesheet" href="https://web.tarc.edu.my/portal/docs/assets/js/themes/sunburst.css" />

		<script type="text/javascript"> ace.vars['base'] = '..'; </script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/elements.onpage-help.js"></script>
		<script src="https://web.tarc.edu.my/portal/assets/js/ace/ace.onpage-help.js"></script>
		<script src="https://web.tarc.edu.my/portal/docs/assets/js/rainbow.js"></script>
		<script src="https://web.tarc.edu.my/portal/docs/assets/js/language/generic.js"></script>
		<script src="https://web.tarc.edu.my/portal/docs/assets/js/language/html.js"></script>
		<script src="https://web.tarc.edu.my/portal/docs/assets/js/language/css.js"></script>
		<script src="https://web.tarc.edu.my/portal/docs/assets/js/language/javascript.js"></script>
	</body>
</html>
	

