<footer jsname="yePe5c" aria-hidden="false">
    <section id="h.4573fc75028bc32d_82" class="yaqOZd qeLZfd">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc main-content" tabindex="-1">
                <div
                    class="hJDwNd-AhqUyc-c5RTEf Ft7HRd-AhqUyc-c5RTEf purZT-AhqUyc-c5RTEf ZcASvf-AhqUyc-c5RTEf pSzOP-AhqUyc-c5RTEf Ktthjf-AhqUyc-c5RTEf JNdkSc SQVYQc">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d"
                            jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.4573fc75028bc32d_79"
                                    class="hJDwNd-AhqUyc-c5RTEf Ft7HRd-AhqUyc-c5RTEf purZT-AhqUyc-c5RTEf ZcASvf-AhqUyc-c5RTEf pSzOP-AhqUyc-c5RTEf Ktthjf-AhqUyc-c5RTEf jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe"><a
                                                href="https://www.google.com/url?q=https%3A%2F%2Ftarc.edu.my%2F&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw3HfwpGuLgi03juEEnvTGPZ"
                                                target="_blank" class="fqo2vd">
                                                <div class="t3iYD"><img
                                                        src="https://lh3.googleusercontent.com/1HGvS54ggK8VGzcgg1CNcunBfXrTna8KF1Ur3Kaa-wbHUgPwuZhPrvpM5C-WsMlyZOKstiPvnTUwTW_SXQDY0qX-zEBFlyeHDtd5HCcyJElKHHRNSV2rAXXilOCpv47QBQ=w1280"
                                                        class="CENy8b"></div>
                                            </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="hJDwNd-AhqUyc-wNfPc Ft7HRd-AhqUyc-wNfPc purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-wNfPc Ktthjf-AhqUyc-wNfPc JNdkSc SQVYQc yYI8W HQwdzb">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d"
                            jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.4573fc75028bc32d_83"
                                    class="hJDwNd-AhqUyc-wNfPc Ft7HRd-AhqUyc-wNfPc pSzOP-AhqUyc-wNfPc Ktthjf-AhqUyc-wNfPc jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd mGzaTb Depvyb baZpAe"><small
                                                id="h.mhbsorok4b7n" dir="ltr"
                                                class="zfr3Q TMjjoe CDt4Ke "
                                                style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; display: block; line-height: 1.2; margin-bottom: 0.0pt; margin-top: 0.0pt; padding-bottom: 0.0pt; padding-left: 0.0pt; padding-right: 0.0pt; padding-top: 0.0pt; text-align: center;"><span
                                                    class="C9DxTc "
                                                    style="color: #fff8f0; font-family: Lato, Arial; font-size: 12.0pt; font-weight: 700; vertical-align: baseline;">TUNKU
                                                    ABDUL RAHMAN UNIVERSITY OF MANAGEMENT AND
                                                    TECHNOLOGY</span></small><br>
                                            <p dir="ltr" class="zfr3Q CDt4Ke "
                                                style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.38; margin-bottom: 0.0pt; margin-top: 0.0pt; padding-bottom: 0.0pt; padding-left: 0.0pt; padding-right: 0.0pt; padding-top: 0.0pt; text-align: center;">
                                                <span class="C9DxTc "
                                                    style="color: #ffffff;">Registration No.
                                                    DU058(W)</span></p>
                                            <p dir="ltr" class="zfr3Q CDt4Ke "
                                                style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; line-height: 1.38; margin-bottom: 0.0pt; margin-top: 0.0pt; padding-bottom: 0.0pt; padding-left: 0.0pt; padding-right: 0.0pt; padding-top: 0.0pt; text-align: center;">
                                                <span class="C9DxTc "
                                                    style="color: #ffffff;">Wholly owned by the
                                                    TARC Education Foundation</span></p><small
                                                id="h.f5iylgibclbz" dir="ltr"
                                                class="zfr3Q TMjjoe CDt4Ke "
                                                style="background-color: transparent; border-bottom: none; border-left: none; border-right: none; border-top: none; display: block; line-height: 1.2; margin-bottom: 0.0pt; margin-top: 0.0pt; padding-bottom: 0.0pt; padding-left: 0.0pt; padding-right: 0.0pt; padding-top: 0.0pt; text-align: center;"><span
                                                    class="C9DxTc "
                                                    style="color: #ffffff; font-family: Lato, Arial; font-size: 12.0pt; font-weight: 400; vertical-align: baseline;">(Co.
                                                    Reg. No.: 201301003979
                                                    (1033820-M))</span><span class="C9DxTc "
                                                    style="color: #000000; font-family: Lato, Arial; font-size: 12.0pt; font-weight: 400; vertical-align: baseline;">&nbsp;</span></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oKdM2c ZZyype">
                                <div id="h.cf8a33457535504_18"
                                    class="hJDwNd-AhqUyc-wNfPc Ft7HRd-AhqUyc-wNfPc jXK9ad D2fZ2 zu5uec wHaque g5GTcb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="i2gjFc Mi644 jXfhgd jb5jud"><a
                                                    href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Ftarumtkl&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw3Er8-Wn07jMVV0X1qzHndY"
                                                    target="_blank" class="RNpQXe"
                                                    style="width: 40px; height: 40px; margin: 8px;"><img
                                                        src="https://lh6.googleusercontent.com/dc1z30KLmlTg7s7VdKHkgan2NaWy8l6rq6_2QzUh5SRPG9Z7kJZD9RSywROJJb-qA74fy0LgSvYjCiePprnNpYhzbyRUXNW3QoNhW8goRA4"
                                                        alt="Facebook" class="xbGufb"
                                                        style="width: 40px; height: 40px;"
                                                        width="40" height="40"></a><a
                                                    href="https://www.youtube.com/channel/UCqjsPpVnwjCRT5mgAgFo1ng"
                                                    target="_blank" class="RNpQXe"
                                                    style="width: 40px; height: 40px; margin: 8px;"><img
                                                        src="https://lh3.googleusercontent.com/pTKiOc7Fz9cJPloz5un9szTs4zFXuVT7TF4YFEga-F-7TLuXAzbtYlY96Q2mlb3yEMpmLOxMKEYUlgm4hrUftm-rnNlujF6smFtP7htCI8g"
                                                        alt="YouTube" class="xbGufb"
                                                        style="width: 40px; height: 40px;"
                                                        width="40" height="40"></a><a
                                                    href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Ftarumt.official%2F&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw19WG2Yx4eShprwK6q3vDvy"
                                                    target="_blank" class="RNpQXe"
                                                    style="width: 40px; height: 40px; margin: 8px;"><img
                                                        src="https://lh6.googleusercontent.com/148VcJdDN-CpNNmZORqPy5OJxJJCW-bPQ7zJtNearOIrEERtiuMn7DzGWsT5Wj2Teht2sR6GirtBlfl_bykeGYqOR5TkOLX8_DST-i2wpBg"
                                                        alt="Instagram" class="xbGufb"
                                                        style="width: 40px; height: 40px;"
                                                        width="40" height="40"></a><a
                                                    href="https://www.google.com/url?q=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D601110758554&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw343_F7lQ8a0Red_edu_JeC"
                                                    target="_blank" class="RNpQXe"
                                                    style="width: 40px; height: 40px; margin: 8px;"><img
                                                        src="https://lh4.googleusercontent.com/qsdAlzXRDYyDqUfg3hDL17RTY6Y12Q_VuXko_K4NNKs1vcp_j6RkOIGlsK5QPJsG44G_Nnv5oMsBlVEPqeLwTwYjaYLmvZFnXIWmjbG-NRY"
                                                        alt="Link" class="xbGufb"
                                                        style="width: 40px; height: 40px;"
                                                        width="40" height="40"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb JNdkSc SQVYQc">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d"
                            jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.1d32fb72a6583e12_5"
                                    class="hJDwNd-AhqUyc-II5mzb Ft7HRd-AhqUyc-II5mzb pSzOP-AhqUyc-II5mzb Ktthjf-AhqUyc-II5mzb jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="t3iYD"><img
                                                    src="https://lh6.googleusercontent.com/NjirSzWy_2Z7arv2dYrnww9LAexodFwUawtMzU3Xw0WUD8CnZL1ZBwFIi7JsKfm_XkHwBTmER4KQxWz3Xk7vX3T0gu5kdW_gvRbxGMZ9Z53bUCDpEH5Dt0Nd4Giv9MyMgg=w1280"
                                                    class="CENy8b" role="img"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="h.1c9d04e1805b7d07_3" class="yaqOZd WxWicb qeLZfd">
        <div class="IFuOkc"></div>
        <div class="mYVXT">
            <div class="LS81yb VICjCf j5pSsc db35Fc" tabindex="-1">
                <div
                    class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd purZT-AhqUyc-II5mzb ZcASvf-AhqUyc-II5mzb pSzOP-AhqUyc-qWD73c Ktthjf-AhqUyc-qWD73c JNdkSc SQVYQc">
                    <div class="JNdkSc-SmKAyb LkDMRd">
                        <div class="" jscontroller="sGwD4d"
                            jsaction="zXBUYb:zTPCnb;zQF9Uc:Qxe3nd;" jsname="F57UId">
                            <div class="oKdM2c ZZyype Kzv0Me">
                                <div id="h.1c9d04e1805b7d07_6"
                                    class="hJDwNd-AhqUyc-uQSCkd Ft7HRd-AhqUyc-uQSCkd jXK9ad D2fZ2 zu5uec OjCsFc dmUFtb wHaque g5GTcb">
                                    <div class="jXK9ad-SmKAyb">
                                        <div class="tyJCtd baZpAe">
                                            <div class="iwQgFb" role="presentation"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>